body {
  margin: 0;
  color: #292d28;
  background: #f4f3ed;
  font:
    16px/1.7 'Avenir Next',
    sans-serif;
}
main {
  max-width: 580px;
  margin: 15vh auto;
  padding: 32px;
}
h1 {
  font:
    normal 42px/1.1 Georgia,
    serif;
}
.brand {
  color: #cc6035;
  letter-spacing: 2px;
}
a {
  color: #292d28;
}
